<nav class="navbar navbar-light p-4" style="background-color: #e3f2fd">
  <h1 routerLink="/">Angular training</h1>
  <ul>
    <li>
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/reg">Registration</a>
    </li>
    <li *ngIf="isLoggedIn == false">
      <a class="nav-link" routerLink="/auth/login">Login</a>
    </li>
    <li *ngIf="isLoggedIn == true">
      <a class="nav-link" (click)="signOut()">Sign out</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
