<div class="content">
  <h2>Login</h2>
  <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
    <input type="text" formControlName="username" placeholder="Username" />
    <small
      style="color: red"
      *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched"
      >Username is required</small
    >
    <input type="password" formControlName="password" placeholder="Password" />
    <small
      style="color: red"
      *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
      >Password is required</small
    >
    <small
      style="color: red"
      *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
      >Password should be 8 characters long</small
    >
    <input [disabled]="loginForm.invalid" type="submit" value="Log in" />
  </form>
  <button (click)="goBack()">Go back</button>
  <!-- <button (click)="login()">Log In</button> -->
</div>
