<div class="content container">
  <h1>List of students.</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aperiam
    unde doloremque doloribus expedita in ipsa quisquam, quibusdam provident
    voluptas nihil nostrum. Aperiam, provident sint quo nihil unde dolor facere!
  </p>

  <div>
    <label class="form-label" for="search">Search student</label>
    <input
      class="form-control"
      id="search"
      type="text"
      [(ngModel)]="searchName"
    />
    <button (click)="searchStudent()" class="btn btn-primary">Search</button>

    <div *ngIf="searchResult?.length > 0">
      <p>You searched for : {{ searchName }}</p>
      <p>Results:</p>
      <div
        class="bg-light"
        style="padding: 5px; border-radius: 5px; margin-bottom: 5px"
        *ngFor="let result of searchResult"
      >
        <p>
          <b>{{ result.registrationId }}</b> {{ result.firstName }}
          {{ result.lastName }}
        </p>
      </div>
    </div>
  </div>

  <div class="student" *ngFor="let student of studentList; let i = index">
    <div routerLink="/student/:{i}">
      <p style="font-weight: bold; font-size: 20px">{{ student.firstName }}</p>
      <p>{{ student.registrationId }}</p>
      <p>{{ student.address }}</p>
      <p>{{ student.mobileNum }}</p>
      <p>{{ student.dateOfBirth | date }}</p>
    </div>
  </div>

  <a (click)="addNewUser()">Click here to add new student!</a>
</div>
