<div class="content">
  <h1>List of students.</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aperiam
    unde doloremque doloribus expedita in ipsa quisquam, quibusdam provident
    voluptas nihil nostrum. Aperiam, provident sint quo nihil unde dolor facere!
  </p>

  <div class="student" *ngFor="let student of studentList">
    <p style="font-weight: bold; font-size: 20px">{{ student.name }}</p>
    <p>{{ student.address }}</p>
    <p>{{ student.phone }}</p>
  </div>

  <a (click)="addNewUser()">Click here to add new student!</a>
</div>
