<div class="container">
  <h2>New Student register.</h2>

  <form (ngSubmit)="addNewStudent()" [formGroup]="registrationForm">
    <div class="form-group">
      <label for="fname" class="form-label">First Name</label>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('firstName')?.errors &&
            registrationForm.controls['firstName'].touched
        }"
        type="text"
        id="fname"
        formControlName="firstName"
      />
      <div class="invalid-feedback">First Name is required.</div>
    </div>

    <div class="form-group">
      <label class="form-label" for="lname">Last Name</label>
      <input
        class="form-control"
        type="text"
        id="lname"
        formControlName="lastName"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('lastName')?.errors &&
            registrationForm.get('lastName')?.touched
        }"
      />
      <div>
        <!-- <div class="invalid-feedback">Last Name is required.</div> -->
        <small
          class="text-danger"
          *ngIf="
            (registrationForm.get('lastName')?.errors &&
              registrationForm.get('lastName')?.touched) ||
            registrationForm.get('lastName')?.dirty
          "
          >Last Name is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="address">Address</label>
      <input
        class="form-control"
        type="text"
        id="address"
        formControlName="address"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('address')?.errors &&
            registrationForm.get('address')?.touched
        }"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="
            (registrationForm.get('address')?.errors &&
              registrationForm.get('address')?.touched) ||
            registrationForm.get('address')?.dirty
          "
          >Address is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="mobileNum">Mobile Number</label>
      <input
        class="form-control"
        type="text"
        id="mobileNum"
        formControlName="mobileNum"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('mobileNum')?.errors &&
            registrationForm.get('mobileNum')?.touched
        }"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="
            (registrationForm.get('mobileNum')?.errors &&
              registrationForm.get('mobileNum')?.touched) ||
            registrationForm.get('mobileNum')?.dirty
          "
          >Mobile Number is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="landlineNum">Landline Number</label>
      <input
        class="form-control"
        type="text"
        id="landlineNum"
        formControlName="landlineNum"
      />
      <!-- <div>
        <small
          *ngIf="
            (registrationForm.get('landlineNum')?.errors &&
              registrationForm.get('landlineNum')?.touched) ||
            registrationForm.get('landlineNum')?.dirty
          "
          >Address is required.</small
        >
      </div> -->
    </div>

    <div class="form-group">
      <label class="form-label" for="dateOfBirth">Date of birth</label>
      <input
        class="form-control"
        type="text"
        id="dateOfBirth"
        formControlName="dateOfBirth"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('dateOfBirth')?.errors &&
            registrationForm.get('dateOfBirth')?.touched
        }"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('dateOfBirth')?.errors &&
            registrationForm.get('dateOfBirth')?.touched
          "
          >Date of birth is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="batch">Batch</label>
      <select class="form-select" id="batch" formControlName="batch">
        <option disabled selected="true">Select a Batch</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
      </select>
      <div>
        <small
          class="text-danger"
          *ngIf="
            (registrationForm.get('batch')?.errors &&
              registrationForm.get('batch')?.touched) ||
            registrationForm.get('batch')?.dirty
          "
          >Batch is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="degreeId">Degree : </label>
      <select class="form-select" id="degreeId" formControlName="degreeId">
        <option disabled selected="true">Select a degree program</option>
        <ng-container *ngFor="let degree of degreeList">
          <option value="{{ degree?.id }}">
            {{ degree.code }} - {{ degree.name }}
          </option>
        </ng-container>
        <!-- <option value="2">IIT</option> -->
      </select>
      <div>
        <small
          class="text-danger"
          *ngIf="
            (registrationForm.get('degreeId')?.errors &&
              registrationForm.get('degreeId')?.touched) ||
            registrationForm.get('degreeId')?.dirty
          "
          >Degree is required.</small
        >
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>

  <!-- <form
    action=""
    #registerForm="ngForm"
    (ngSubmit)="addNewStudent(registerForm)"
  >
    <input
      type="text"
      name="name"
      required
      minlength="3"
      placeholder="Student Name"
      ngModel
      #name="ngModel"
    />
    <div>
      <small *ngIf="name.invalid && address.touched"
        >Student name is required.</small
      >
    </div>
    <input
      type="text"
      name="address"
      required
      maxlength="50"
      placeholder="Address"
      ngModel
      #address="ngModel"
    />
    <div>
      <small *ngIf="address.invalid && address.touched"
        >Address is required.</small
      >
    </div>
    <input
      type="number"
      name="phone"
      required
      minlength="9"
      maxLength="9"
      placeholder="Phone Number"
      ngModel
      #phone="ngModel"
    />
    <div>
      <small *ngIf="phone.invalid && address.touched"
        >Phone number is required.</small
      >
    </div>
    <input type="submit" [disabled]="!registerForm.valid" />
  </form> -->
</div>
