<div class="content">
  <h2>New Student register.</h2>

  <!-- <form
    action=""
    #registerForm="ngForm"
    (ngSubmit)="addNewStudent(registerForm)"
  >
    <input
      type="text"
      name="name"
      required
      minlength="3"
      placeholder="Student Name"
      ngModel
      #name="ngModel"
    />
    <div>
      <small *ngIf="name.invalid && address.touched"
        >Student name is required.</small
      >
    </div>
    <input
      type="text"
      name="address"
      required
      maxlength="50"
      placeholder="Address"
      ngModel
      #address="ngModel"
    />
    <div>
      <small *ngIf="address.invalid && address.touched"
        >Address is required.</small
      >
    </div>
    <input
      type="number"
      name="phone"
      required
      minlength="9"
      maxLength="9"
      placeholder="Phone Number"
      ngModel
      #phone="ngModel"
    />
    <div>
      <small *ngIf="phone.invalid && address.touched"
        >Phone number is required.</small
      >
    </div>
    <input type="submit" [disabled]="!registerForm.valid" />
  </form> -->
</div>
