<div class="container">
  <h2>New Student register.</h2>

  <form (ngSubmit)="addNewStudent()" [formGroup]="registrationForm">
    <div class="form-group">
      <label for="fname" class="form-label">First Name</label>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('firstName')?.errors &&
            (registrationForm.controls['firstName'].touched ||
              registrationForm.controls['firstName'].dirty)
        }"
        type="text"
        id="fname"
        formControlName="firstName"
      />
      <div
        class="invalid-feedback"
        *ngIf="registrationForm.controls['firstName'].errors?.['required']"
      >
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="lname">Last Name</label>
      <input
        class="form-control"
        type="text"
        id="lname"
        formControlName="lastName"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('lastName')?.errors &&
            (registrationForm.get('lastName')?.touched ||
              registrationForm.controls['lastName'].dirty)
        }"
      />
      <div
        *ngIf="
          registrationForm.get('lastName')?.errors &&
          (registrationForm.get('lastName')?.touched ||
            registrationForm.controls['lastName'].dirty)
        "
      >
        <!-- <div class="invalid-feedback">Last Name is required.</div> -->
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('lastName')?.errors?.['required']            
          "
          >Last Name is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="address">Address</label>
      <input
        class="form-control"
        type="text"
        id="address"
        formControlName="address"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('address')?.errors &&
            (registrationForm.get('address')?.touched ||
              registrationForm.controls['address'].dirty)
        }"
      />
      <div
        *ngIf="
          registrationForm.get('address')?.errors &&
          (registrationForm.get('address')?.touched ||
            registrationForm.controls['address'].dirty)
        "
      >
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('address')?.errors?.['required']
          "
          >Address is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="mobileNum">Mobile Number</label>
      <input
        class="form-control"
        type="text"
        id="mobileNum"
        formControlName="mobileNum"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('mobileNum')?.errors &&
            (registrationForm.get('mobileNum')?.touched ||
              registrationForm.controls['mobileNum'].dirty)
        }"
      />
      <div
        *ngIf="
          registrationForm.get('mobileNum')?.errors &&
          (registrationForm.get('mobileNum')?.touched ||
            registrationForm.controls['mobileNum'].dirty)
        "
      >
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('mobileNum')?.errors?.['required']
          "
          >Mobile Number is required.</small
        >
        <!-- *ngIf="
          registrationForm.get('mobileNum')?.errors?.['maxLength'] || registrationForm.get('mobileNum')?.errors?.['minLength']" -->
        <small class="text-danger"
          >Enter a valid phone number (eg: 07XXXXXXXX)</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="landlineNum">Landline Number</label>
      <input
        class="form-control"
        type="text"
        id="landlineNum"
        formControlName="landlineNum"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('landlineNum')?.errors &&
            (registrationForm.get('landlineNum')?.touched ||
              registrationForm.controls['landlineNum'].dirty)
        }"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('landlineNum')?.errors?.['pattern'] &&
              (registrationForm.get('landlineNum')?.touched ||
            registrationForm.get('landlineNum')?.dirty)
          "
          >Enter a valid number (Eg: 0XXXXXXXXX).</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="dateOfBirth">Date of birth</label>
      <input
        class="form-control"
        type="text"
        id="dateOfBirth"
        formControlName="dateOfBirth"
        [ngClass]="{
          'is-invalid':
            registrationForm.get('dateOfBirth')?.errors &&
            (registrationForm.get('dateOfBirth')?.touched ||
              registrationForm.controls['dateOfBirth'].dirty)
        }"
      />
      <div
        *ngIf="
          registrationForm.get('dateOfBirth')?.errors &&
          (registrationForm.get('dateOfBirth')?.touched ||
            registrationForm.controls['dateOfBirth'].dirty)
        "
      >
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('dateOfBirth')?.errors?.['required']
          "
          >Date of birth is required.</small
        >
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('dateOfBirth')?.errors?.['dateValidator']
          "
          >Date is not valid</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="batch">Batch</label>
      <select class="form-select" id="batch" formControlName="batch">
        <option disabled selected="true">Select a Batch</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
      </select>
      <div>
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('batch')?.errors &&
            registrationForm.get('batch')?.touched
          "
          >Batch is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="degreeId">Degree : </label>
      <select class="form-select" id="degreeId" formControlName="degreeId">
        <option disabled selected="true">Select a degree program</option>
        <ng-container *ngFor="let degree of degreeList">
          <option value="{{ degree?.id }}">
            {{ degree.code }} - {{ degree.name }}
          </option>
        </ng-container>
        <!-- <option value="2">IIT</option> -->
      </select>
      <div>
        <small
          class="text-danger"
          *ngIf="
            registrationForm.get('degreeId')?.errors &&
            registrationForm.get('degreeId')?.touched
          "
          >Degree is required.</small
        >
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
</div>
